[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = ">=3.13"

[dev-packages]
flit = "*"
black = {version = "==18.9b0",markers = "python_version >= '3.6'"}
pytest = "*"
pytest-cov = "*"
coveralls = "*"
prospector = "*"
# latest flake8 causing problems
flake8 = "==3.5.0"
wily = "*"

[requires]
python_version = "3.7"

[scripts]
format = "black mass_replace tests"
reqs = "sh scripts/update_reqs.sh"
